<div id="{{elementId}}" #modalContainer class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button"
              class="close"
              data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body" (click)="closeModal()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
