<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form [formGroup]="newEventForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off">
    <div class="form-group">
      <label for="name">Event Name:</label>
      <em *ngIf="newEventForm.controls.name?.errors && newEventForm.controls.name?.dirty">Required</em>
      <input formControlName="name" id="name" name="name" type="text" class="form-control"
             placeholder="Name of your event..."/>
    </div>
    <div class="form-group">
      <label for="date">Event Date:</label>
      <em *ngIf="newEventForm.controls.date?.invalid && (newEventForm.controls.date?.dirty)">Required</em>
      <input formControlName="date" id="date" name="eventDate" type="date" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="time">Event Time:</label>
      <em *ngIf="newEventForm.controls.time?.invalid && (newEventForm.controls.time?.dirty)">Required</em>
      <input formControlName="time" id="time" name="time" type="text" class="form-control"
             placeholder="start and end time..."/>
    </div>
    <div class="form-group">
      <label for="price">Event Price:</label>
      <em *ngIf="newEventForm.controls.price?.invalid && (newEventForm.controls.price.dirty)">Required</em>
      <input formControlName="price" id="price" name="price" type="number" class="form-control"
             placeholder="event price..."/>
    </div>

    <label>Event Location:</label>
    <div formGroupName="location" class="form-group">
      <em *ngIf="newEventForm.controls.address?.invalid && (newEventForm.controls.address?.dirty)">Required</em>
      <input formControlName="address" name="address" type="text" class="form-control" placeholder="address"/>
    </div>
    <div class="row">
      <div formGroupName="location" class="col-md-6">
        <input formControlName="city" name="city" id="city" type="text" class="form-control" placeholder="City..."/>
      </div>
      <div formGroupName="location" class="col-md-6">
        <input formControlName="country" name="country" id="country" type="text" class="form-control"
               placeholder="Country..."/>
      </div>
    </div>

    <div class="form-group">
      <label for="onlineUrl">Online Url: (Optional)</label>
      <input formControlName="onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control"
             placeholder="Online Url..."/>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image:</label>
      <em
        *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.dirty">Required</em>
      <em
        *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.dirty">Must
        be a png or jpg url</em>
      <input formControlName="imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control"
             placeholder="url of image..."/>
    </div>

    <div>Value: {{newEventForm.value|json}}</div>
    <div>Valido: {{newEventForm.valid}}</div>

    <button type="submit" [disabled]="!newEventForm.valid" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>
