<div>
  <h1>Prossimi Eventi</h1>
  <hr/>
  <div class="row">
    <div class="col-md-5" *ngFor="let event of events">
      <event-thumbnail [event]="event"></event-thumbnail>
    </div>
  </div>
</div>
