<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{event?.name | uppercase}}</h2>
  <div>Data: {{event?.date}}</div>
  <div [ngClass]="getStartTimeClass()" [ngSwitch]="event?.time">
    Ora: {{event?.time}}
    <span *ngSwitchCase="'8:00 am'">(Partenza presto)</span>
    <span *ngSwitchCase="'10:00 am'">(Partenza tardi)</span>
    <span *ngSwitchDefault>(Partenza normale)</span>
  </div>
  <div>Prezzo: {{event?.price | currency: 'EUR'}}</div>
  <div *ngIf="event?.location">
    <span>Luogo: {{event?.location?.address}}</span>
    <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">
    Online Url: {{event?.onlineUrl}}
  </div>
</div>
