<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input id="userName" formControlName="username" name="username" type="text" class="form-control" placeholder="User Name..."/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" name="pasword" type="password" class="form-control" placeholder="Password..."/>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid login</div>
</div>
