<div>
  <h1>Modifica Profilo</h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input formControlName="nome" id="nome" type="text" class="form-control" placeholder="Nome...">
      </div>
      <div class="form-group">
        <label for="cognome">Cognome:</label>
        <input formControlName="cognome" id="cognome" type="text" class="form-control" placeholder="Cognome...">
      </div>
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Salva</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Annulla</button>
      <button type="button" class="btn btn-warning" style="float: right" (click)="logout()">Logout</button>
    </form>
  </div>
</div>

