<div class="col-md-12">
  <h3>Create Session</h3>
</div>
<div class="col-md-6">
  <form [formGroup]="newSessionForm" (ngSubmit)="saveSession(newSessionForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': newSessionForm.controls.name.invalid && newSessionForm.controls.name.dirty }">
      <label for="sessionName">Session Name (write "bob" to trigger custom validator):</label>
      <em *ngIf="newSessionForm.controls.name.invalid && newSessionForm.controls.name.dirty && !newSessionForm.controls.name.errors?.forbiddenName">Required</em>
      <em class="forbidden" *ngIf="newSessionForm.controls.name.errors?.forbiddenName">{{newSessionForm.controls.name.value}} name is prohibited</em>
      <input formControlName="name" id="sessionName" type="text" class="form-control" placeholder="session name..."/>
    </div>
    <div class="form-group" [ngClass]="{'error': newSessionForm.controls.presenter.invalid && newSessionForm.controls.presenter.dirty }">
      <label for="presenter">Presenter:</label>
      <em *ngIf="newSessionForm.controls.presenter.invalid && newSessionForm.controls.presenter.dirty">Required</em>
      <input formControlName="presenter" id="presenter" type="text" class="form-control" placeholder="presenter..."/>
    </div>
    <div class="form-group" [ngClass]="{'error': newSessionForm.controls.duration.invalid && newSessionForm.controls.duration.dirty }">
      <label for="duration">Duration:</label>
      <em *ngIf="newSessionForm.controls.duration.invalid && newSessionForm.controls.duration.dirty">Required</em>
      <select formControlName="duration" class="form-control" id="duration">
        <option value="">select duration...</option>
        <option value="1">Half Hour</option>
        <option value="2">1 Hour</option>
        <option value="3">Half Day</option>
        <option value="4">Full Day</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="{'error': newSessionForm.controls.level.invalid && newSessionForm.controls.level.dirty }">
      <label for="level">Level:</label>
      <em *ngIf="newSessionForm.controls.level.invalid && newSessionForm.controls.level.dirty">Required</em>
      <select id="level" formControlName="level" class="form-control">
        <option value="">select level...</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="{'error': newSessionForm.controls.abstract.invalid && newSessionForm.controls.abstract.dirty }">
      <label for="abstract">Abstract:</label>
      <em *ngIf="newSessionForm.controls.abstract.invalid && newSessionForm.controls.abstract.dirty && newSessionForm.controls.abstract?.errors?.required">Required</em>
      <em *ngIf="newSessionForm.controls.abstract.invalid && newSessionForm.controls.abstract.dirty && newSessionForm.controls.abstract?.errors?.newSessionForm.controls.maxlength">Cannot exceed 400 chars</em>
      <textarea formControlName="abstract" id="abstract" rows=3 class="form-control"
                placeholder="abstract..."></textarea>
    </div>
    <button [disabled]="newSessionForm.invalid" type="submit" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
